/** Общие стили **/
@font-face {
  font-weight: normal;
  font-family: 'Neucha';
  font-style: normal;
  src: url(../fonts/Neucha-Regular.ttf);
}

@font-face {
  font-weight: normal;
  font-family: 'OpenSans';
  font-style: normal;
  src: url(../fonts/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: bold;
  font-family: 'OpenSans';
  font-style: bold;
  src: url(../fonts/static/OpenSans/OpenSans-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #2a2626;
  font-weight: normal;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  line-height: 1.6em;
}

.fx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/** Злодолбучие секции **/
.section {
  position: relative;

  width: 100%;
  overflow: hidden;
}

.background-basic {
  background: none;
}

.background-basic::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  display: block;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: url(../img/background.png);
}

.background-white {
  text-align: center;

  background: #fff;
}

.background-dark {
  background: #42413c;
}

.background-light {
  background: #b09a81;
}

.background-light::after {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: url(../img/background.png);
}

.container {
  position: relative;
  z-index: 10;

  width: 1110px;

  margin: 100px auto;
}

/** Заголовки **/
.neucha {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.font-size-72 {
  font-size: 72px;
}

.font-size-64 {
  font-size: 64px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-52 {
  font-size: 52px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

p {
  margin-bottom: 20px;
}

/** Цвета **/
.color-white {
  color: #fff;
}

.color-basic {
  color: #fe8a02;
}

.color-grey {
  color: #908d8b;
}

.color-grey-light {
  color: #d7ccc0;
}

.color-brown {
  color: #b09a81;
}

/** Шапка **/
.margin-bottom-185 {
  margin-bottom: 185px;
}

.logo {
  position: absolute;
  top: -55px;
  right: -270px;
  z-index: -5;

  height: 525px;
}

.half-container {
  width: 540px;
  min-height: 200px;

  text-align: left;
}

.btn-link {
  display: block;
  width: 148px;
  margin-top: 40px;
  margin-left: 0;
  padding: 12px 24px;

  font-weight: bold;

  background: #fe8a02;
}

.btn-link:hover {
  background: #ea7600;
}

.text-decoration-none {
  text-decoration: none;
}

/** Вводная информация **/

.heading-container {
  width: 100%;
  margin-bottom: 30px;

  text-align: center;
}

.video {
  width: 919px;

  margin-bottom: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.gag {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 200px;
  margin: 0;

  background: #42413c;
}

.margin-bottom-0 {
  margin-top: 0;
}

.margin-top-0 {
  margin-top: 0;
}

/** Навигация **/

.third-container-general {
  max-width: 350px;
  height: 323px;

  text-align: left;
}

.heading-third-container {
  margin-bottom: 20px;
  padding: 0;

  background: #42413c;
}

.third-container {
  padding: 24px;

  background: #f5f4f0;
}

.num {
  margin-bottom: 40px;

  line-height: 1;
}

.third-container:hover {
  background: #fe8a02;
}

.third-container:hover .num,
.third-container:hover h3,
.third-container:hover p {
  color: #fff;
}

/** Когнитивные Статьи **/

.article-pic {
  vertical-align: middle;

  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.15);
}

.article-heading {
  max-width: 502px;
}

.margin-0 {
  margin: 0;
}

.margin-top-30 {
  margin-top: 30px;
}

.article-separator {
  width: 100%;
  height: 26px;

  margin: 100px 0 20px 0;
  padding-left: 10px;
}

.article-separator-light {
  background: #fff;
}

.article-separator-dark {
  background: #b09a81;
}

/** Футер **/

.padding-55 {
  padding: 55px;
}

.form-information {
  width: 393px;
  height: 80px;
}

.feedback {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 9px;

  font-size: 18px;
}

input {
  float: left;
  width: 423px;
  height: 50px;
  padding: 15px;
}

.btn-send {
  position: relative;
  left: -8px;

  float: left;

  width: 70px;
  height: 50px;

  margin: 0;
  padding: 0;

  border: none;

  background: #fe8a02;
}

.btn-send::before {
  position: absolute;
  top: 15px;
  left: 0;

  width: 70px;
  height: 50px;

  content: url(../img/send.svg);
}

.btn-send:hover {
  background: #ea7600;
}

.contact-information {
  margin-top: 60px;

  font-size: 14px;
}

.contact-information a {
  color: #1085c5;
}
